In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [17]:
import pickle
import pandas as pd

In [3]:
df = pickle.load(open("df.pkl", 'rb'))

In [4]:
df.head()

,parsed_map_address,parsed_postingtitletext,added,PostUrl,PostTitle,parsed_price,parsed_price_text,parsed_housing,PostContent,parsed_data_longitude,...,parsed_area,parsed_furnished,parsed_wd,parsed_type,parsed_laundryb,parsed_nthumbs,parsed_garagea,parsed_laundrys,parsed_garaged,parsed_catsok
0,reed near timberpine,$2895 / 2br - 1000ft2 - Luxury 2beds (private ...,1586943009425,https://sfbay.craigslist.org/sby/apa/d/sunnyva...,simulated,2895,$2895,2br - 1000ft2,simulated,-121.99987,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3110 Casa De Campo,"$1,995 / 550ft2 - Move In Special! 6 WEEKS FRE...",1600492989288,https://sfbay.craigslist.org/pen/apa/d/san-mat...,NaN,1995,"$1,995",550ft2,NaN,-122.285547,...,550,False,True,apartment,False,3,False,False,False,True
2,150 Caldecott Lane #3 near Tunnel Road,$3297 / 3br - 1700ft2 - 3Bed 2Bath Claremont H...,1594826706728,https://sfbay.craigslist.org/eby/apa/d/oakland...,NaN,3297,$3297,3br - 1700ft2,NaN,-122.223458,...,1700,False,False,apartment,False,10,False,False,False,True
3,333 Harrison St. near Fremont St.,$3300 / 560ft2 - Generously Sized Studio Home ...,1576459291763,https://sfbay.craigslist.org/sfc/apa/d/san-fra...,simulated,3300,$3300,560ft2,simulated,-122.391465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2232 Haste ST near Ellsworth ST,$1895 / 1br - NICE ONE BEDROOM APT OPEN HOUSES...,1592637973617,https://sfbay.craigslist.org/eby/apa/d/berkele...,NaN,1895,$1895,1br,NaN,-122.257,...,None,False,False,apartment,False,0,False,True,False,False

In [9]:
df.shape

(1266986, 35)

In [12]:
df.dropna(subset=["parsed_thumbs","parsed_price"], inplace=True)

In [13]:
df.shape

(1189188, 35)

In [14]:
def flip_data(data):
    # iterate over all data point
    for _, row in df.iterrows():
        price, thumbs, intid = row["parsed_price"], row["parsed_thumbs"], row["intid"]
        
        if thumbs is None:
            continue

        for thumb in thumbs:
            yield thumb, price, intid

In [15]:
records = []

for t, p, i in flip_data(df):
    file = t.split("/")[-1]
    records.append({
        "file": file,
        "price": p,
        "id": i
    })

In [18]:
ndf = pd.DataFrame(records)

In [19]:
del df

In [20]:
ndf.head()

                            file price                                id
0  01515_bfqW10n0T0Y_600x450.jpg  2895  fbdb4e74dda64a868e9809a742063d89
1  00e0e_3EnhJIr1o63_600x450.jpg  2895  fbdb4e74dda64a868e9809a742063d89
2  01616_lXV8ed96bGD_600x450.jpg  2895  fbdb4e74dda64a868e9809a742063d89
3  00c0c_4ZiuNvi1mKc_600x450.jpg  2895  fbdb4e74dda64a868e9809a742063d89
4  00r0r_l0HjyYSj85I_600x450.jpg  2895  fbdb4e74dda64a868e9809a742063d89

In [22]:
ndf.shape

(14307936, 3)

In [24]:
ndf.to_csv("thumb2price.csv")